{% extends 'base.html' %}
<title>{% block title%}Analysis{%endblock%}</title>
</head>
{% block content %}
    <center>
        <h1>Analysis</h1>
        <p>Here is the analysis of the data: </p>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="static/img1.jpg" alt="Banner" style="width: 100%; height: 330px;">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h2>Analysis 1</h2>
                <p>Analysis 1 description</p>
                <a href="analysis1.html">Read More</a>
            </div>
            <div class="col-md-4">
                <h2>Analysis 2</h2>
                <p>Analysis 2 description</p>
                <a href="analysis2.html">Read More</a>
            </div>
            <div class="col-md-4">
                <h2>Analysis 3</h2>
                <p>Analysis 3 description</p>
                <a href="analysis3.html">Read More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Additional Content</h2>
                <p>This is additional content in the third row.</p>
            </div>
        </div>
    </div>

    <!add form that allows user to subscribe to the newsletter>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Subscribe to our Newsletter</h2>
                <form action="subscribe" method="post">
                    <div class="form-group
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    
{% endblock %}
{% block footer %}
    <footer>
        <p>Footer</p>
    </footer>

{% endblock %}
