body {
font-family: sans-serif;
background: #909693b0;
}
input, select, textarea {
display: block;
color: grey;
border: 1px solid lightsteelblue;
line-height: 15px;
margin: 2px 6px 16px 0px;
width: 100%;
}
input[type="submit"] {
padding: 5px 10px 5px 10px;
color: black;
background: lightsteelblue;
border: none;
box-shadow: 1px 1px 1px #4C6E91;
}
input[type="submit"]:hover {
background: steelblue;
}
#map-canvas {
width: 70%;
height: 500px;
float:left;
}
#newcrimeform {
float: right;
width: 25%;
}
/* Chart styles */
#trending-crime-chart {
    margin-bottom: 40px;
}

/* Table styles */
#updates-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}
#trending-crime-chart {
    width: 100%; /* Container width */
    max-width: 900px; /* Max width for larger screens */
    margin: 20px auto; /* Centering the chart */
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Simple shadow for emphasis */
    background-color: #0c0b0b; 
}

#trending-chart-canvas {
    height: 400px !important; /* Setting a fixed height */
    width: 100% !important; /* Responsive width */
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blinking {
    text-align: center;
    animation: blinker 1.5s linear infinite;
    margin-top: 20px;
    font-size: 20px;
    color: #FF0000;
  }
  